/* заголовок fieldset */
.x-fieldset-header-default > .x-fieldset-header-text {
    color: rgb(39, 127, 204);
}

/* заголовки grid */
.x-column-header {
    color: rgb(39, 127, 204);
}

/*отступ сверху названий полей грида*/
.x-column-header-inner {
    line-height: 17px;
    text-align: center;
}

/* перенос строки в гриде*/
.wrapText .x-grid-cell-inner {
    white-space: normal;
}

/* убираем надпись Trial из заголовка панелей */
.x-panel-header-title-default-framed > .x-title-text-default-framed:after {
    content: '';
}

.x-panel-header-title-default > .x-title-text-default:after {
    content: '';
}
.x-window-header-title-default>.x-title-text-default:after {
    content: '';
}
/* фон инвалидного поля (по умолчанию- белый)*/
.x-form-type-text textarea.x-form-invalid-field, .x-form-type-text input.x-form-invalid-field, .x-form-type-password textarea.x-form-invalid-field, .x-form-type-password input.x-form-invalid-field, .x-form-type-number textarea.x-form-invalid-field, .x-form-type-number input.x-form-invalid-field, .x-form-type-email textarea.x-form-invalid-field, .x-form-type-email input.x-form-invalid-field, .x-form-type-search textarea.x-form-invalid-field, .x-form-type-search input.x-form-invalid-field, .x-form-type-tel textarea.x-form-invalid-field, .x-form-type-tel input.x-form-invalid-field {
    background-color: #FFECE8;
}



/* стиль заголовков подсистем (для окна авторизации) */
.mystyle_title_subsystem {
    color: #666666;
    background:#E6F1F9;
    padding: 7px;
    font-size: x-large;
    font-variant: small-caps;
    font-family: serif;
    border-radius: 4px;
    text-align: left;
    border-width: 1px;
    border-color: silver;
    border-style: none;
    box-shadow: 1px 1px 5px #555;
}
/* стиль заголовков подсистем (контейнер) */
.mystyle_title_subsystem_container {
    background:#E6F1F9;
    padding: 7px;
    border-radius: 4px;
    border-width: 1px;
    border-color: silver;
    border-style: none;
    box-shadow: 1px 1px 5px #555;
}
/* стиль заголовков подсистем (текст Подсистема...) */
.mystyle_title_subsystem_text {
    color: #666666;
    font-size: x-large;
    font-variant: small-caps;
    font-family: serif;
}
/* стиль заголовков подсистем (имя пользователя) */
.mystyle_title_subsystem_user {
    text-align: right;
    color: #666666;
    font-size: larger;
    font-variant: small-caps;
    font-family: serif;
}

/*.mystyle_title_user {
    color: #666666;
    background:#E6F1F9;
    padding: 7px;
    font-size: medium;
    font-variant: small-caps;
    font-family: serif;
    border-radius: 4px;
    text-align: right;
    border-width: 1px;
    border-color: silver;
    border-style: none;
    box-shadow: 1px 1px 5px #555;
}*/

/*Не редактируемая ячейка*/
.my_readonly .x-form-text {
    background: rgb(240, 255, 241);
}

/*Обязательная для заполнения ячейка*/
.my_obligatory .x-form-text {
    background: rgba(255, 213, 213, 0.29);
}

/* тень вокруг объекта, чтобы выделить на белом фоне */
.my_shadowborder{
    border-width: 1px;
    border-color: silver;
    border-style: none;
    box-shadow: 1px 1px 5px #555;
}